{% extends 'base.html.twig' %}

{% block container %}
    <div class="px-3 my-5 text-center">
        <h1 class="display-7 fw-bold">Каталог рецептов</h1>
    </div>

    <div id="recipes" >
        {% for recipe in recipes %}
            <div class="card recipe-card">
                <div class="card-header recipe-title">
                    <h5><a href="/recipe/{{ recipe.getID() }}">{{ recipe.getTitle() }}</a></h5>
                </div>

                <div class="card-body">
                    <p class="card-text">
                    <div class="card-text-wrapper">
                        {{ recipe.getDescription() }}
                    </div>
                    </p>
                    <div class="recipe-description">
                        <p>
                            Ингредиенты:
                            {% for ingredient in recipe.getIngredients() %}
                                <a href = "#">{{ ingredient }}</a>
                            {% endfor %}
                        </p>
                        <p class="vitamin-view">
                            Витамины:
                            {% for vitamin in recipe.getVitamins() %}
                            <a class = "tagify-vit" href = "#">{{ vitamin }}</a>
                            {% endfor %}
                        </p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


